.home-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 500px;
}

.title{
    margin-left: 450px;
    font-size: 15vh;
    text-align: center;
    color: #fcedd8;
    background: #d52e3f;
    font-family: "helvetica";
    font-weight: 700;
    text-shadow: 
            5px  5px  0px #eb452b, 
            10px 10px 0px #efa032, 
            15px 15px 0px #46b59b, 
            20px 20px 0px #017e7f, 
            25px 25px 0px #052939, 
            30px 30px 0px #c11a2b, 
            35px 35px 0px #c11a2b, 
            40px 40px 0px #c11a2b, 
            45px 45px 0px #c11a2b;
}

.title:hover{
    cursor: pointer;
}

.out-btn-home{
    display: flex;
    font-size: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fcedd8;
    gap: 10px;
    border: 0;
    text-shadow: #c11a2b;
    background-color: #d52e3f;
    margin-top: 90%;
}

.out-btn-home:hover{
    cursor: pointer;
    color: #af2222;
    transform: scale(1.2);
}



