.comment-head{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.comment-container{
    width: 100%;
}

.comment-form{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.comment-textarea{
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:95%;
    box-sizing: border-box;
    outline:0;
}

.comment-textarea:hover{
    cursor: pointer;
}

.comment-textarea:focus{
    border: 2px solid #CC4949;
}

.comment-button{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 95%;
    background:#102770;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
    margin-bottom: 30px;
}

.comment-button:hover{
    background:#ffeba7;
    color: #102770;
}